.footer {
  height: 16px;
  width: 100%;
  /* margin: 60px 0; */
  background-color: #fcf5e5;
}

.footer__blurb {
  margin: 60px auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}
